@use "../varios/variables" as*;

main {
    h2 {
        font-family: $font;
        color: $cremita;
        margin-left: 15px;
        padding: 45px;

        .animate__headShake{
            transition: 0.5s;
        }

    }

    .tarjetas1 {
        display: flex;
        @include flex (row, center, center);
        gap: 60px;
        color: $verdeoscuro;
        font-family: $font;
        @include font (800, normal);


        .card {
            border-radius: 30px;
            background-color: $cremita;
            box-shadow: 3px;
            height: 500px;

            &:hover{
                transform: translate(5px, -10px);
                transition: 0.3s;
            }
        }


        .card-img-top {
            padding: 8px;
            border-radius: 30px;
            
        }

        .card-img-topdubai{
            height: 185px;
            @extend .card-img-top;
        }

        .card-body {
            .titlecard {
                font-family: $font;
                @include font (800, normal);
                text-decoration: underline;
                font-size: 30px;
            }


            .tarjetas1 ul li {
                list-style: circle;
            }

            .boton {
                border-radius: 15px;
                border-color: $verdeintermedio;
                padding: 15px;
                margin-block-end: 8px;
                color: $verdeoscuro;
            }
        }
    }

    .tarjetas2 {
        @extend .tarjetas1;
        padding: 50px;

        .europa{
            .card{
                .card-img-topeuro{
                    height: 188px;
                    @extend .card-img-top;
                }
            }
        }

        .repdom{
            .titlecard{
                font-size: 28px;
                @include font (800,normal);
            }
        }
    }
}