@use "../varios/variables" as*;

/*ESCAPADAS*/

.escapadas {
    display: flex;
    @include flex (row, center, center);
    gap: 50px;
    margin: 30px;
    font-family: $font;
    font-weight: 500;
    font-style: normal;

    .titlecard {
        font-family: $font;
        @include font (700, normal);
        text-decoration: underline;
    }

    .carlospaz {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $cremita;
        border-radius: 15px;
        color: $verdeoscuro;

        &:hover {
            transform: translate(15px, -30px);
            transition: 1s;
        }

        .imgcarlospaz {
            border-radius: 30px;
            padding: 15px;
            width: 350px;
            height: 250px;

        }

    }

    /*CATARARAS*/
    .cataratas {
        @extend .carlospaz;


        .imgcataratas {
            border-radius: 30px;
            padding: 15px;
            width: 350px;
            height: 250px;
        }

    }

    /*SALTA*/
    .salta {
        @extend .carlospaz;

    }

    .imgsalta {
        border-radius: 30px;
        padding: 15px;
        width: 350px;
        height: 250px;
    }


    .boton {
        border-radius: 15px;
        border-color: $verdeintermedio;
        padding: 15px;
        margin-block-end: 8px;
        color: $verdeoscuro;
    }

}