@use "../varios/variables" as*;

/*PREGUNTAS FRECUENTES*/

.pregfrecuentes {
    margin: 85px;

    .accordion-item {

        background-color: $verdeintermedio;
        

        .accordion-button {
            font-family: $font;
            font-weight: 700;
            font-style: normal;
            border-radius: 15px;
            background-color: $cremita;
            color: $verdeoscuro;
            
        }



                .strong {
                    font-family: $font;
                    font-weight: 500;
                    font-style: normal;
                    color: $verdeclaro;
                }
            

        









    }

}